
<div class="container-fluid container-max-width mt-5">
  <div class="row" id="row-for-song-cards">

      <div class="col-md-8 col-sm-6 offset-md-2 offset-sm-6 card mb-3 mt-3">
        {{#if updatedSong}}
          <div class="alert alert-success mb-5">{{updatedSong}}</div>
        {{/if}}

        <div class="card-border" style="text-align: center;">

          {{#if notAuthorized}}
              <div class="alert alert-danger mt-3">{{notAuthorized}}</div>
          {{/if}}

          <h3 class="card-header">{{song.name}}</h3>
          <div class="card-body">
          </div>
          <img style="height: 500px; width: 100%; display: block;" src="{{song.image}}" alt="Card image">
          <div class="card-body">
            <h5 class="card-title">Lyrics</h5>

            <p class="card-text">{{{song.lyrics}}}</p>
            <br><i class="far fa-user"></i> Suggested By:  <a href="/users/{{user._id}}">{{user.username}}</a> 
            <br><br>

            {{#if loggedInUser}}
              {{#if correctUser}}
                  <a href="/song/update/{{song._id}}" class="card-link btn btn-warning"><i class="far fa-edit"></i> Edit</a>
                  <button data-toggle="modal" data-target="#deleteModal" class="card-link btn btn-danger mr-4"><i class="far fa-trash-alt"></i> Delete</button>
              {{/if}}
            {{/if}}

          </div>

          <div class="card-footer text-muted" id="dateID">
            <strong>Created At: </strong> {{date}}
          </div>
        </div>
      </div>

  </div>
</div> 

<div class="modal" id="deleteModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are You Sure That You Want To Delete Song <strong>"{{song.name}}"</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <form action="/song/delete/{{song._id}}" method="POST">
          <button type="submit" class="card-link btn btn-danger">Yes</button>
        </form> 
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
